*,
*::before,
*::after{
    box-sizing: border-box;
}
*:focus:not(:focus-visible){
    outline: none;
}
/* 'Tinos' 'Cookie' */
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.69445vw;
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    text-rendering: auto;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
body{
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    text-rendering: auto;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
input,
textarea{
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
a{
    color: unset;
}
a,
a:hover{
    text-decoration: none;
}
button,
input,
a,
textarea{
    outline: none;
    border: none;
    cursor: pointer;
    font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus{
    outline: none;
}
button:active,
input:active,
a:active,
textarea:active{
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font: inherit;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
button{
    color: inherit;
    text-align: inherit;
    text-rendering: auto;
    padding: 0;
    border-color: inherit;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[typr="number"]{
    -moz-appearance: textfield;
}
code,
kbd,
samp{
   font-family: monospace, monospace;
   font-size: inherit;
}
.container{
    width: 111rem;
    margin: 0 auto;
}
/* header */
.header{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.header__logo{
    width: 10rem;
    height: 6.8rem;
}
.header__tel{
    width: 2.3rem;
    height: 2.3rem;
}
.header__buy{
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
}
.header__buy:after{
    content: '';
    width: 0.1rem;
    height: 5.1rem;
    background-color: #ffffff;
    position: absolute;
    right: -2.1rem;
    top: 50%;
    transform: translate(0, -50%);
}
.header__burger{
    display: none;
}
.header__wrap{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__information{
    display: flex;
    align-items: center;
}
.header__menu{
    margin-right: 3.6rem;
    display: flex;
}
.header__menu li:not(:last-child){
    margin-right: 2.3rem;
} 
.header__menu li a{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 136%;
    text-transform: uppercase;
}
.header__number{
    display: flex;
}
.header__tel{
    margin-right: 0.8rem;
    width: 2.3rem;
    height: 2.3rem;
}
.header__telephone{
    margin-left: 5.2rem;
    max-width: 20rem;
}
.header__number span{
    white-space: nowrap;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 139%;
}
.header__text{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.36;
}
.header__button{
    margin-left: 4.5rem;
}

/* hero */
.hero{
    padding-top: 32.2rem;
    min-height: 80rem;
    background: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 54rem;
}
.hero__subtext{
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1.14;
    color: #D67E35;
}
.hero__header{
    margin-bottom: 1.2rem;
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 8rem;
    line-height: 1.15;
    color: #D67E35;
}
.hero__suptext{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.39;
    color: #FFFFFF;
}